.reel {
  display: inline-block;
  width: 100px;
  border: solid black 1px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.win {
  border: 1px red solid; 
}

.cell.win .cell-content {
  animation: win 1s infinite alternate ease-in-out;
}

@keyframes win {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(1.5); 
  }
}

#message-box {
  padding: 1em;
  border: solid black 1px;
  margin: 1em 0;
  width: 200px;
}
